.cart-page {
	background-color: var(--bg-color);
	padding-bottom: 5rem;
}

@media screen and (min-width: 768px) {
	.cart-flex-wrapper {
		display: flex;
		justify-content: space-around;
	}

	.cart-product-list {
		flex-basis: 60%;
		margin: 2rem;
	}
}
