.payment-flex-left {
	margin-top: 1rem;
}

.payment-options {
	background-color: var(--color-white);
	padding: 1rem 0;
}

.option-title {
	font-weight: 500;
	margin-left: 1rem;
}

.option-field {
	margin: 1rem 0.5rem;
}

@media screen and (min-width: 768px) {
	.payment-flex-wrapper {
		display: flex;
		justify-content: space-around;
	}

	.payment-flex-left {
		flex-basis: 60%;
		margin: 2rem;
	}
}
