.wrapper {
  padding: 0.5rem;
  padding-bottom: 5rem;
  background-color: var(--color-white);
}

.product-img {
  position: relative;
}

.product-img > img {
  width: 100%;
}

.wishlist-action-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  background-color: var(--color-white);
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}

.product-metadata {
  margin: 0.5rem;
}

.product-price {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 1.3rem;
}

.product-details {
  background-color: white;
}

.details {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 0.5rem);
}

.type {
  color: gray;
  max-width: 100%;
}

.value {
  font-weight: 500;
}

.product-details-heading {
  font-weight: 500;
  margin: 0.5rem 0;
}

.product-page-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  display: flex;
  box-shadow: 0 -5px 5px 0 #ddd9d9;
}

.add-to-cart-btn,
.order-it-btn {
  flex-basis: 50%;
}

.add-to-cart,
.order-it {
  padding: 1rem 0;
  text-align: center;
  line-height: 100%;
}

.order-it {
  background-color: #f05632;
  color: white;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    padding: 1rem 1rem 0;
  }

  .product-img {
    width: 80%;
  }

  .product-img > img {
    height: 100%;
  }

  .product-metadata {
    margin-left: 2rem;
  }

  .product-page-actions {
    position: relative;
    justify-content: space-between;
  }

  .add-to-cart,
  .order-it {
    flex-basis: 48%;
  }

  .add-to-cart {
    background-color: #f59e28;
    color: white;
  }
}

@media screen and (min-width: 1000px) {
  .product-img {
    width: 40%;
  }

  .product-img > img {
    height: 80%;
  }
}
