.wrapper {
  padding: 0.5rem;
  margin-bottom: 5rem;
}

.product-img > img {
  width: 100%;
}

.product-metadata {
  margin: 0.5rem;
}

.product-price {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 1.3rem;
}

.product-page-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 -5px 5px 0 #ddd9d9;
}

.add-to-cart,
.order-it {
  flex-basis: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
}

.order-it {
  background-color: #f05632;
  color: white;
}

.product-details {
  background-color: white;
}

.details {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 0.5rem);
}

.type {
  color: gray;
}

.value {
  font-weight: 500;
}

.product-details-heading {
  font-weight: 500;
  margin: 0.5rem 0;
}
