.checkout-page {
	background-color: var(--bg-color);
	min-height: 100%;
	padding: 0.5rem 0 5rem 0;
}

.delivery-address {
	background-color: var(--color-white);
	margin-top: 1rem;
}

.change-address-btn {
	background-color: var(--color-theme);
	color: var(--color-white);
	padding: 0.5rem 0;
	text-align: center;
	margin: 0 1rem;
	cursor: pointer;
}

.place-order-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 92%;
	background-color: var(--color-white);
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	box-shadow: 0 -5px 5px 0 #ddd9d9;
}

.total-amount {
	font-weight: 500;
	font-size: 1.5rem;
}

.place-order-btn {
	background-color: var(--color-primary);
	color: var(--color-white);
	font-weight: 500;
	padding: 0.5rem 2rem;
	border-radius: 0.2rem;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.cart-flex-wrapper {
		display: flex;
		justify-content: space-around;
	}

	.checkout-flex-left {
		flex-basis: 60%;
		margin-top: 1rem;
	}

	.change-address-btn {
		margin: 0;
	}

	.product-list {
		margin: 1rem 0;
	}

	.place-order-bar {
		position: relative;
		width: auto;
		padding: 1rem;
		justify-content: flex-end;
		margin-top: 1rem;
	}

	.total-amount {
		display: none;
	}

	.place-order-btn {
		padding: 1rem 3rem;
		text-align: center;
		text-transform: uppercase;
	}
}
