.add-new {
	background-color: var(--color-white);
	padding: 1rem;
	color: var(--color-theme);
	font-weight: 500;
	cursor: pointer;
}

.address-form {
	padding: 1rem;
	margin: 1rem;
	background-color: var(--color-white);
}

.input-field {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.label {
	margin-bottom: 0.2rem;
	color: gray;
}

.text-input {
	padding: 0.5rem;
	border: 1px solid gray;
	border-radius: 0.2rem;
}

.text-input:focus {
	outline-color: #2874f0;
	caret-color: #2874f0;
}

.save-address-btn {
	text-align: center;
	width: 100%;
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 0.5rem 0;
	cursor: pointer;
}

.address-list {
	margin: 1rem 0;
	padding-bottom: 5rem;
}

.address-card {
	background-color: var(--color-white);
	padding: 1rem;
	margin: 1rem 0;
	display: flex;
}

.address-name {
	font-size: 1.2rem;
}

.address-details,
.address-mobileno {
	margin-top: 0.5rem;
	font-size: 0.9rem;
}

.deliver-here {
	text-align: center;
	width: 100%;
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 1rem 0;
	position: fixed;
	bottom: 0;
}

.address-page-message {
	margin: 0.5rem 0 0 1rem;
	color: gray;
}

@media screen and (min-width: 768px) {
	.address-page,
	.address-form {
		width: 60%;
		margin: 1rem auto;
		padding-top: 1rem;
	}

	.deliver-here {
		position: relative;
		width: 50%;
		margin: auto;
		padding: 1rem 0;
		font-size: 1.2rem;
	}
}
