@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --color-primary: #2874f0;
  --bg-color: #f1f3f6;
  --color-white: white;
}

body {
  margin: 0;
  height: 100vh;

}

.App {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

a,
:visited {
  text-decoration: none;
  color: initial;
}
