.page {
	background-color: var(--bg-color);
	padding-bottom: 5rem;
}

@media screen and (min-width: 768px) {
	.orders,
	.order-details-wrapper {
		width: 50%;
		margin: 1rem auto;
		padding-top: 1rem;
	}

	.order-list {
		background-color: var(--color-white);
		flex-basis: 60%;
		margin-top: 2rem;
	}
}
